<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juma.moments">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MomentsApp"
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.WelcomeMomentsActivity" />
        <activity
            android:name=".activities.MomentsActivity"
            android:label="@string/title_activity_moments"
            android:parentActivityName=".activities.WelcomeMomentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.juma.moments.activities.WelcomeMomentsActivity" />
        </activity>
        <activity
            android:name=".activities.AddMomentActivity"
            android:label="@string/title_activity_add_moment"
            android:parentActivityName=".activities.MomentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.juma.moments.activities.MomentsActivity" />
        </activity>
        <activity
            android:name=".activities.DetailMomentActivity"
            android:label="@string/title_activity_detail_moment"
            android:parentActivityName=".activities.MomentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.juma.moments.activities.MomentsActivity" />
        </activity>
        <activity
            android:name=".activities.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:parentActivityName=".activities.WelcomeMomentsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.juma.moments.activities.WelcomeMomentsActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAcjXuwtKS6Pkyh6j4-arJe4h4ZlusFUe4" />

        <uses-features
            android:glEsVersion="0x00020000"
            android:required="true"
        />

    </application>

</manifest>